@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

header {
  background-color: #2e7564;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;

    .logo {
      display: flex;
      align-items: center;

      img {
        max-width: 64px;
        margin-right: 15px;
      }

      h1 {
        color: #fff;
        font-weight: 600;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .logOut {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.body-wrapper {
  margin: 20px 15%;

  #loader {
    position: relative;
    margin-top: 50px;
  }

  h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    margin: 50px 0;
  }

  .main-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    input {
      width: calc(100% - 50px);
      border: 1px solid #000;
      border-radius: 14px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.1rem;
      font-family: 'Montserrat', sans-serif;
      outline: none;
    }

    .taskInput {
      margin: 25px 0;
    }

    button {
      width: 100%;
      padding: 12px;
      border: 0;
      background: #2e7564;
      color: #fff;
      border-radius: 14px;
      font-size: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .filter {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    img {
      max-width: 34px;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    span {
      font-size: 1.1em;
      font-weight: 400;
      width: 200px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .filter-block {
    position: absolute;
    background: #fff;
    top: 40px;
    right: 0px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #000;
    padding: 20px 40px;
    z-index: 10;

    input {
      margin: 8px 5px;
    }

    label {
      font-size: 1.1em;
      font-weight: 400;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .task {
    margin: 40px 0;
    width: 100%;
    position: relative;
    height: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info {
        margin-left: 40px;
        .title {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 5px;
        }
      }

      .like {
        border: 1px solid #000;
        padding: 3px;
        border-radius: 7px;
        margin: 15px;

        .fav {
          margin-bottom: -4px;
          max-width: 20px;
          max-height: 20px;
        }

        .notFav {
          margin-top: 2px;
          margin-bottom: -2px;
          max-width: 20px;
          max-height: 16px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      span {
        font-weight: 400;
        font-size: 1.2rem;
      }
    }

    &:hover {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      transform: scale(1.005);
      transition: all ease 300ms;
    }

    .close {
      max-width: 32px;
      position: absolute;
      right: -7px;
      top: -7px;

      &:hover {
        cursor: pointer;
      }
    }

    button {
      border: 0;
      width: 20%;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      padding: 10px 50px;
      border: 1px solid #000;
      border-radius: 10px;
      color: #000000;
      margin-right: 5%;

      &:hover {
        cursor: pointer;
      }
    }

    .completed {
      background: #57ffa4;
    }

    .not_completed {
      background: #ff7079;
    }
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    margin-top: 100px;
    max-width: 260px;
    margin-bottom: 50px;
  }

  h2 {
    font-weight: 500;
    width: 40%;
    text-align: center;
  }
}
